/* ==========================================================================
Animations
========================================================================== */

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.6);
    }

    to {
        box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
        background: rgba(255, 255, 255, 0);
    }
}

@keyframes pulse2 {
    from {

        background: rgba(255, 255, 255, 0.6);
    }

    to {

        background: rgba(247, 245, 245, 0.808);
    }
}

@keyframes openTop {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes closedTop {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(90deg);
    }
}


@keyframes openMid {


    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes closedMid {


    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}


@keyframes openBtm {
    0% {
        transform: translateY(5px) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes closedBtm {
    0% {
        transform: translateY(5px) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes slideIn {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@keyframes fallIn {
    from {
        top: -100%;
    }

    to {
        top: 0%;
    }
}




@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;


    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;

}