/* ==========================================================================
COLORS
========================================================================== */
$yellow: #ffe681ff;
$yellow-02: #ffd52bff;
$yellow-03: #ffd52bff;
$blue: #66b3baff;

$white: #ffffff;
$white-02: #f3f4f6ff;
$white-03: #dad1d1;

$gray: #e7e7e7ff;
$gray-02: #3e4648ff;
$gray-03: #403f3dff;

$green: rgb(93, 194, 100);
$green-02: rgb(92, 151, 96);

$black: #000000;
$black-02: #222220ff;
$black-03: #020202ff;

$brown: rgba(211, 212, 182, 0.712);

$primary: #f6d725ff;
$primary-02: #e3924dff;
$primary-03: #f0911dff;

$secondary: #cadce7ff;
$secondary-02: #59a3aaff;
$secondary-03: #297489ff;

$alfa: rgba(255, 249, 195, 0.972);
$alfa-01: rgba(240, 238, 156, 0.938);

$box-shadow-01: 0px 0px 6px rgba(68, 68, 50, 0.945) (110, 89, 89);
$box-shadow-02: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
$box-shadow-03: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
$box-shadow-04: 0 2px 2px rgba(56, 62, 65, 0.514);
$box-shadow-05: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.123);

$liner-gradient-01: linear-gradient(
  to left,
  rgba(237, 240, 241, 0.349),
  rgba(250, 252, 252, 0.938)
);
